
.table {
  width: 100%;
  margin-top: 10px;
  border-radius: 50px;
}


.table th {
  background-color: #2f2c2c !important;
  padding: 8px;
  text-align: left;
  margin-top: -100px;
}


.table td {
  background-color: #0e0e0e !important;
  color: white;
  padding: 8px;
}

@media (max-width: 768px) {
  .table {
    min-height: 50vh;
    overflow-y: hidden;
  }

  .table td {
    display: flex;
    text-align: center;
    border: none;
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
  }

  .table th {
    display: none;
  }

  .table tr {
    margin-bottom: 10px;
  }
}

.add-button {
  position: fixed;
  bottom: 60px;
  left: 38%;
  transform: translateX(-50%);
  z-index: 999;
}

@media (min-width: 768px) {
  .add-button {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin-bottom: 20px;
  }
}

.custom-table tbody tr {
  background-color: #070707; 
}

